@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --FF:  'Poppins', sans-serif;
    --FS: 15px;
    --RED: hsl(0, 78%, 62%);
    --CYAN: hsl(180, 62%, 55%);
    --ORANGE: hsl(34, 97%, 64%);
    --BLUE: hsl(212, 86%, 64%);
    --VERYDARKBLUE: hsl(234, 12%, 34%);
    --GRAYISHBLUE: hsl(229, 6%, 66%);
    --VERYLIGHTGRAY: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--VERYLIGHTGRAY);
}

.main__container {
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 50px;
}

.text__container {
    max-width: 330px;
    text-align: center;
}

.text__heading {
    color: var(--GRAYISHBLUE);
    font-weight: lighter;
}

.text__heading span {
    color: var(--VERYDARKBLUE);
    font-weight: 700;
    white-space: nowrap;
}

.text__paragraph {
    color: var(--GRAYISHBLUE);
    margin-top: 20px;
    font-size: 1.1em;
}

.features__container {
    margin-top: 60px;
    display: grid;
    gap: 30px;
}

.card__container {
    max-width: 330px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-shadow: 0px 20px 20px -10px var(--GRAYISHBLUE);
    border-radius: 10px;
}

.card__container:first-child{
    border-top: 6px solid var(--CYAN);
}

.card__container:nth-child(2){
    border-top: 6px solid var(--RED);
}

.card__container:nth-child(3){
    border-top: 6px solid var(--ORANGE);
}

.card__container:last-child{
    border-top: 6px solid var(--BLUE);
}


.card__title {
    color: var(--VERYDARKBLUE);
}

.card__paragraph {
    color: var(--GRAYISHBLUE);
    margin-top: 10px;
}

.card__img{
    align-self: flex-end;
    padding-top: 30px;
}

@media (min-width: 50em) {

    .main__container {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        justify-content: center;
        align-items: center;
    }

    .text__container {
        max-width: 500px;
    }

    .text__heading {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
    }

    .features__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4,96px);
    }

    .card__container:first-child{
        grid-row: 2/4;
    }

    .card__container:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / span 2 ;
    }

    .card__container:nth-child(3){
        grid-row: 3 / span 2;
    }

    .card__container:last-child {
        grid-row: 2 / 4;
    }
}

