@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --FF:  'Poppins', sans-serif;
    --FS: 15px;
    --RED: hsl(0, 78%, 62%);
    --CYAN: hsl(180, 62%, 55%);
    --ORANGE: hsl(34, 97%, 64%);
    --BLUE: hsl(212, 86%, 64%);
    --VERYDARKBLUE: hsl(234, 12%, 34%);
    --GRAYISHBLUE: hsl(229, 6%, 66%);
    --VERYLIGHTGRAY: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main__container {
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 50px;
}

.text__container {
    max-width: 330px;
    text-align: center;
}

.text__heading {
    color: var(--GRAYISHBLUE);
    font-weight: lighter;
}

.text__heading span {
    color: var(--VERYDARKBLUE);
    font-weight: 700;
}

.text__paragraph {
    color: var(--GRAYISHBLUE);
    margin-top: 20px;
    font-size: 1.1em;
}

.features__container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card__container {
    max-width: 330px;
    outline: 1px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.card__img{
    align-self: flex-end;
    padding-top: 30px;
}